[Unit]
Description=Thanos receiver service
After=network.target
[Service]
LimitNOFILE=65535
Type=simple
PIDFile=/var/run/thanos-receiver.pid
ExecStop=/bin/kill -9 $MAINPID
ExecStart=/usr/local/monitor/thanos/thanos receive \
  --objstore.config-file=/etc/thanos/objectstorage.yaml \
  --tsdb.path=/data/thanos-receiver \
  --tsdb.retention=12h \
  --receive.tenant-label-name=thanos \
  --grpc-address=0.0.0.0:10906 \
  --http-address=0.0.0.0:10907 \
  --remote-write.address=0.0.0.0:19291
Restart=always
SyslogIdentifier=monitor-thanos-receiver
[Install]
WantedBy=multi-user.target
